$branding-main: #6E5494;

.container {
}

.masthead {
    background-color: $branding-main;
    padding-top: 1rem;
    padding-bottom: 1rem;

    a.masthead-logo {
        color: #FFF;
        float: left;
        display: inline-block;
        font-size: 1.5rem;
        text-decoration: none;
    }

    nav.masthead-nav {
        float: right;
        font-size: 1rem;
        margin-top: 0.5rem;

        a {
            color: #FFF;
            display: inline-block;
            text-decoration: none;
        }
    }
}
