<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="~/lib/octicons/octicons.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/primer-css/primer.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/primer-markdown/user-content.css" />
    <link rel="stylesheet" type="text/css" href="~/css/master.css?v=@DateTime.Now.ToString("O")" />
</head>
<body>
    <header class="masthead">
        <div class="container">
            <a class="masthead-logo" href="~/">
                <span class="mega-octicon octicon-squirrel"></span>
                ASP.NET Team Dashboard
            </a>
        </div>
    </header>
    <div class="container">
        <div class="columns">
            <div class="one-fourth column">
                <nav class="menu">
                    <a class="menu-item" href="#">Something</a>
                </nav>
            </div>
            <div class="three-fourths column markdown-body">
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/jquery.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>